body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 20px;
}


.slaipedia-container {
    max-width: 1200px;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.button-link {
    display: inline-block;
    padding: 15px 30px;
    font-size: 1.2em;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

.button-link:hover {
    background-color: #0056b3;
}


body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 20px;
}

h1, h2, h3 {
    text-align: center;
}


.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.battle-area {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.player1-section, .player2-section {
    width: 35%; /* Adjust as needed */
}

.battle-log {
    width: 25%; /* Adjust as needed */
    max-height: 600px; /* Set the desired height for the log */
    overflow-y: auto; /* Enable vertical scrolling */
    margin: 0 20px; /* Add margin between players and battle log */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
}

.battle-log h2 {
    text-align: center;
    margin-bottom: 10px;
}

.battle-log ul {
    list-style-type: none;
    padding: 0;
}

.battle-log li {
    margin-bottom: 5px;
    font-size: 14px;
}


.slay-card {
    width: 300px;
    background-color: #f2f2f2;
    padding: 10px;
    margin: 10px;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.slay-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.biomass-bubble {
    background-color: #6492c4;
    color: white;
    padding: 5px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.slay-image img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.health-bar {
    width: 100%;
    background-color: #e0e0e0;
    border-radius: 8px;
    overflow: hidden;
    margin: 5px 0;
    position: relative;
}

.health {
    height: 20px;
    background-color: #76c7c0;
    border-radius: 8px;
}

.health-text {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    text-align: center;
    line-height: 20px;
    color: black;
}

.stats {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

.stat {
    background-color: #c0c0c0;
    padding: 5px;
    border-radius: 8px;
    text-align: center;
    width: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stat-label {
    font-size: small;
    margin-bottom: 2px;
}

.stat-value {
    font-size: large;
    font-weight: bold;
}

.stat-wide {
    width: 60px; /* Make the speed stat wider */
}

.traits {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
    margin-top: 10px;
}

.trait {
    background-color: #c0c0c0;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
}

/* Moves styling */

.moves {
    display: grid;
    grid-template-columns: 1fr;  /* Make each move span the full width */
    gap: 10px;
    margin-top: 10px;
}

.move-option {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px; /* Increased padding for better spacing */
    margin-bottom: 10px;
    background-color: #d7d7d7;
    border-radius: 8px;
    text-align: left;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s;
    position: relative;
    border: none; /* Remove any border */
    outline: none; /* Remove outline */
}

.move-option:hover {
    background-color: #adadad;
}

.move-option.selected {
    background-color: #53ad58; /* Green color for selected */
}

.move-power {
    background-color: #505050; /* Darker color for power bubble */
    color: white;
    padding: 5px;
    border-radius: 25%; /* Circular power bubble */
    font-weight: bold;
    margin-right: 10px;
}

.move-name {
    flex-grow: 1;
    text-align: left;
}

/* Tooltip styling */
.move-tooltip {
    position: absolute;
    display: none;
    background-color: rgba(255, 255, 255, 0.3); /* Semi-transparent background */
    color: #000000;
    padding: 10px;
    border-radius: 4px;
    z-index: 1000;
    pointer-events: none;
    font-size: 14px;
    max-width: 400px;
    word-wrap: break-word;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Slight shadow for contrast */
    backdrop-filter: blur(20px); /* Apply blur to the background */
    -webkit-backdrop-filter: blur(20px); /* Safari support */
}

/* Arrow for the tooltip */
.move-tooltip::after {
    content: "";
    position: absolute;
    border-width: 5px;
    border-style: solid;
    border-color: rgba(51, 51, 51, 0.9) transparent transparent transparent;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
}


.lock-move-button {
    background-color: #28a745;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    width: 100%;
}

.lock-move-button:hover {
    background-color: #218838;
}
