body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 20px;
}


body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 20px;
}

h1, h2, h3 {
    text-align: center;
}


.container {
    max-width: 1600px;
    margin: 0 auto;
    padding: 20px;
}

.battle-area {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px; /* Space between player sections */
}

.player1-section, .player2-section {
    flex: 1; /* Make the sections fill the available space equally */
    background-color: #9f9f9f;
    margin: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.player_name {
    background-color: #6e6e6e;
    color: white;
    padding: 10px 20px;
    text-align: center;
    display: block; /* Change to block to take up full width */
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-size: 1.5em;
    font-weight: bold;
    width: 100%; /* Ensure the name spans the full width */
}

.slay-cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Responsive grid with minimum column width */
    grid-gap: 20px; /* Space between cards */
    width: 100%; /* Ensure the grid takes full width */
    justify-items: center; /* Center the grid items */
}


.battle-log h2 {
    text-align: center;
    margin-bottom: 10px;
}

.battle-log ul {
    list-style-type: none;
    padding: 0;
}

.battle-log li {
    margin-bottom: 5px;
    font-size: 14px;
}


/* Tooltip styling */
.move-tooltip {
    position: absolute;
    display: none;
    background-color: rgba(255, 255, 255, 0.3); /* Semi-transparent background */
    color: #000000;
    padding: 10px;
    border-radius: 4px;
    z-index: 1000;
    pointer-events: none;
    font-size: 14px;
    max-width: 400px;
    word-wrap: break-word;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Slight shadow for contrast */
    backdrop-filter: blur(20px); /* Apply blur to the background */
    -webkit-backdrop-filter: blur(20px); /* Safari support */
}

/* Arrow for the tooltip */
.move-tooltip::after {
    content: "";
    position: absolute;
    border-width: 5px;
    border-style: solid;
    border-color: rgba(51, 51, 51, 0.9) transparent transparent transparent;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
}


.lock-move-button {
    background-color: #28a745;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.lock-move-button:hover {
    background-color: #218838;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}


.begin-button {
    background-color: #28a745;
    color: white;
    padding: 10px;
    border: none;
    margin: 30px;
    border-radius: 8px;
    cursor: pointer;
    width: 200px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.begin-button:hover {
    background-color: #218838;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


