body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 20px;
}


h1, h2, h3 {
    text-align: center;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.content {
    display: flex;
    justify-content: space-between;
}

.player-section, .enemy-section {
    display: flex;
    flex-direction: column;
    width: 35%; /* Adjust width as needed */
    align-items: flex-start;
}

.player-section-title {
    text-align: center;
    font-size: 1.875em;
}

.battle-log {
    width: 30%; /* Adjust width as needed */
    max-height: 300px; /* Set the desired height for the log */
    overflow-y: auto; /* Enable vertical scrolling */
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
}

.player-team {
    margin-top: 20px;
}

.team-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.team-slay {
    width: 120px;
    background-color: #f2f2f2;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-bottom: 10px;
}

.team-slay img {
    width: 100px;
    height: 100px;
    object-fit: contain;
    margin-bottom: 0px;
}

.team-slay h4 {
    margin-bottom: 10px;
    text-transform: uppercase;
}

.team-slay .health-bar {
    width: 100%;
    background-color: #e0e0e0;
    border-radius: 8px;
    overflow: hidden;
    position: relative;
    margin: 5px 0;
}

.team-slay .health {
    height: 20px;
    background-color: #76c7c0;
    border-radius: 8px;
}

.team-slay .health-text {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    text-align: center;
    line-height: 20px;
    color: black;
}


.slay-card {
    width: 250px;
    background-color: #f2f2f2;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.slay-card h3 {
    text-transform: uppercase;
}

.slay-card img {
    width: 240px;
    height: 240px;
    object-fit: contain;
    margin-bottom: 0px;
}

.health-bar {
    width: 100%;
    background-color: #e0e0e0;
    border-radius: 8px;
    overflow: hidden;
    margin: 5px 0;
    position: relative;
}

.health {
    height: 20px;
    background-color: #76c7c0;
    border-radius: 8px;
}

.health-text {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    text-align: center;
    line-height: 20px;
    color: black; /* Use black or a contrasting color for better visibility */
}

.stats {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

.stat {
    background-color: #e0e0e0;
    padding: 5px;
    border-radius: 8px;
    text-align: center;
    width: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stat-label {
    font-size: small;
    margin-bottom: 2px;
}

.stat-value {
    font-size: large;
    font-weight: bold;
}

.moves, .moves_opponent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin-top: 10px;
}

.moves_opponent a {
    display: block;
    width: 80%;
    text-align: center;
    background-color: #b0c0d9;
    color: #000000;
    padding: 10px;
    margin: 5px 0;
    text-decoration: none;
    border-radius: 8px;
}


.moves a {
    display: block;
    width: 80%;
    text-align: center;
    background-color: #6492c4;
    color: white;
    padding: 10px;
    margin: 5px 0;
    text-decoration: none;
    border-radius: 8px;
}

.moves a:hover {
    background-color: #0056b3;
}

.switch-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

.switch-button a {
    display: block;
    width: 90%;
    text-align: center;
    background-color: #bb7526;
    color: white;
    padding: 10px;
    margin: 5px 0;
    text-decoration: none;
    border-radius: 8px;
}

.switch-button a:hover {
    background-color: #86541c;
}

.move {
    background-color: #d7d7d7;
    color: #000000;
    padding: 5px;
    margin: 2px 0;
    border-radius: 8px;
}

.battle-log {
    max-height: 300px; /* Set the desired height for the log */
    overflow-y: auto; /* Enable vertical scrolling */
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
}

.battle-log ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.battle-log li {
    text-align: left;
    margin: 5px 0;
}

.battle-log .turn-heading {
    font-weight: bold;
    text-align: center;
    font-size: 1.2em; /* Slightly larger font size */
}

.battle-log .move {
    font-weight: bold;
}

.battle-log .damage {
    font-style: italic;
}

.result {
    text-align: center;
    margin-top: 20px;
}

.rematch {
    display: block;
    width: 100%;
    text-align: center;
    background-color: #28a745;
    color: white;
    padding: 10px;
    margin: 20px 0;
    text-decoration: none;
    border-radius: 8px;
}

.rematch:hover {
    background-color: #218838;
}

.slay-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.slay-item {
    width: 180px;
    background-color: #f2f2f2;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    text-decoration: none;
    color: inherit;
}

.slay-item img {
    width: 100px;
    height: 100px;
    object-fit: contain;
    margin-bottom: 10px;
}

.slay-item h2 {
    font-size: 1.2em;
    margin: 10px 0;
}

.slay-item p {
    font-size: 0.9em;
    margin: 5px 0;
}

.slay-item .stats {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    gap: 10px;
}

.slay-item .stat {
    background-color: #e0e0e0;
    padding: 5px;
    border-radius: 8px;
    text-align: center;
    width: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slay-item .stat-label {
    font-size: small;
    margin-bottom: 2px;
}

.slay-item .stat-value {
    font-size: large;
    font-weight: bold;
}

.slay-item .moves {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

.slay-item .move {
    background-color: #6492c4;
    color: white;
    padding: 5px;
    margin: 2px 0;
    width: 80%;
    border-radius: 8px;
}
