<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple Slay Battle</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <script src="{{ url_for('static', filename='scripts.js') }}" defer></script>
</head>
<body>
    <div class="container">
        <h1>Slay Battle</h1>
        <div class="slay">
            <div>
                <h2>{{ player.name }}</h2>
                <p>Health:</p>
                <div class="health-bar">
                    <div class="health" style="width: {{ player.health / player.max_health * 100 }}%;"></div>
                    <div class="health-text">{{ "%.1f" % player.health }}/{{ "%.1f" % player.max_health }}</div>
                </div>
                <p>Strength: {{ player.strength }}</p>
                <p>Hardness: {{ player.hardness }}</p>
                <p>Toughness: {{ player.toughness }}</p>
                <p>Speed: {{ player.speed }}</p>
            </div>
            <div>
                <h2>{{ opponent.name }}</h2>
                <p>Health:</p>
                <div class="health-bar">
                    <div class="health" style="width: {{ opponent.health / opponent.max_health * 100 }}%;"></div>
                    <div class="health-text">{{ "%.1f" % opponent.health }}/{{ "%.1f" % opponent.max_health }}</div>
                </div>
                <p>Strength: {{ opponent.strength }}</p>
                <p>Hardness: {{ opponent.hardness }}</p>
                <p>Toughness: {{ opponent.toughness }}</p>
                <p>Speed: {{ opponent.speed }}</p>
            </div>
        </div>
        <div class="moves">
            <h3>Moves</h3>
            {% for move in player.moves %}
                <a href="{{ url_for('move', move_index=loop.index0) }}">{{ move['name'] }}</a>
            {% endfor %}
        </div>
        <div class="battle-log" id="battle-log">
            <h2>Battle Log</h2>
            <ul>
                {% for entry in battle.log %}
                <li>{{ entry|safe }}</li>
                {% endfor %}
            </ul>
        </div>
        {% if battle.is_battle_over() %}
            <div class="result">
                {% if player.is_fainted() %}
                    <h2>You Lost!</h2>
                {% else %}
                    <h2>You Won!</h2>
                {% endif %}
                <a href="{{ url_for('rematch') }}" class="rematch">Rematch</a>
            </div>
        {% endif %}
    </div>
</body>
</html>
