<div class="slay-card slay-card-mini" data-slay-index="{{ slay_index }}">
    <!-- Slay Name and Biomass -->
    <div class="slay-header slay-header-mini">
        <h3>{{ team_slay.nickname }}</h3>
    </div>

    <!-- Slay Image -->
    <div class="slay-image slay-image-mini">
        {% if team_slay.name %}
            <img src="{{ url_for('static', filename='images/' + (team_slay.name|lower) + '.png') }}" alt="{{ team_slay.name }} Image Missing">
        {% else %}
            <img src="{{ url_for('static', filename='images/default.png') }}" alt="Default Image">
        {% endif %}
    </div>

    <!-- Health Bar -->
    <div class="health-bar healh-bar-mini">
        <div class="health health-mini" style="width:{{ team_slay.current_stats['health'] / team_slay.base_stats['health'] * 100 }}%;"></div>
        <div class="health-text health-text-mini">{{ "%.1f" % team_slay.current_stats['health'] }}</div>
    </div>

    <!-- Stats Grid -->
    <div class="stats">
        <div class="stat stat-mini-wide">
            <div class="stat-value stat-value-mini">{{ team_slay.current_stats['biomass'] }}</div>
        </div>
        <div class="stat stat-mini">
            <div class="stat-value stat-value-mini">{{ team_slay.current_stats['STR'] }}</div>
        </div>
        <div class="stat stat-mini">
            <div class="stat-value stat-value-mini">{{ team_slay.current_stats['HAR'] }}</div>
        </div>
        <div class="stat stat-mini">
            <div class="stat-value stat-value-mini">{{ team_slay.current_stats['DUR'] }}</div>
        </div>
        <div class="stat stat-mini-wide"> <!-- Add a special class for speed -->
            <div class="stat-value stat-value-mini">{{ team_slay.current_stats['SPE'] }}</div>
        </div>
    </div>
</div>